@import "../config.scss";
.container_home {
  max-width: 1440px;
  padding: 40px 50px;
  display: grid;
  grid-template-areas:
    "search  regions"
    "country   country "
    "countries countries";
  grid-template-columns: 1fr 1fr;
  @include media594 {
    grid-template-areas:
      "search  "
      "regions "
      "country    "
      "countries";
    grid-template-columns: 1fr;
    width: calc(100% - 100px);
    margin: 0 auto;
    padding: 40px 0;
  }

  .container-country {
    @include media594{
      justify-content: center;
    }
    .country {
      width: calc((100% - 280px) / 4);
      @include media594 {
        width: 250px;
      }
    }
  }
}
