@import "../config.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $WhiteText-DM_El-lM;
  padding: 1.5em 6em;
  box-shadow: 0px 2px 3px rgba(0,0,0,.2);
  h5{
      font-weight: 800;
  }
}
