@import "../config.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $WhiteText-DM_El-lM;
  padding: 10px 6em;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  @include media390 {
    padding: 1.5em 0;
    justify-content: space-around;
    padding: 1.5em 1em;
  }


  .logo {
    width: 100px;
    height: 46px;
  }
  .title {
    font-weight: 800;
    margin: 0 0 0 20px;
    color: $DarkBlueEl_DM;
    opacity: .8;
    @include media390 {
      font-size: 1.2em;
      margin: 0;
    }
  }
}
