@import "../config.scss";
.search{
    .container_search{
        width: 400px;
        grid-area: search;
        box-shadow: 0px 0px 6px  rgba(133, 133, 133, .3);
        margin-left: 2em;
        .icon-search{
            font-size: 1.2em;
            color: $DarkGrayInput_LM;
        }
        #input-search{
            border: 0;
            &.error{
                border: .5px solid red;
            }
        }
        ::placeholder{
            font-size: .8em;
        }
    }
&__error{
    color: red;
    font-size: .8em;
    margin: 5px 0 0 2em;
    font-style: italic;
}
}